{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="col-md-5 margin-trans">
        <form method="GET">
            {% if monthYear %}
                <h2>Selected Month: {{ monthYear }}</h2>
            {% else %}
                <h2>Select a Month: </h2>
            {% endif %}
            <div class="form-group selected-month-transaction-datepicker-div">
                <input name="transactionMonth"
                       id="transactionMonth"
                       class="form-control date-picker"
                       value="{{ monthYear }}"
                       autocomplete="off"
                />
            </div>

            {% if category %}
                <h2>Selected Category: {{ category }}</h2>
            {% else %}
                <h2>Select a Category: </h2>
            {% endif %}
            <div class="form-group col-md-4">
                <select name="filter" class="form-control">
                    <option value="">All</option>
                    {% for cat in categories %}
                        {% if cat == category %}
                            <option value="{{ cat }}" selected>{{ cat }}</option>
                        {% else %}
                            <option value="{{ cat }}">{{ cat }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <input type="submit" value="Submit" class="btn btn-default select-input">
        </form>

        {% if transaction_list %}
            <table class="table">
                <thead class="table-header">
                    <tr>
                        <th>Purchase Date</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Store</th>
                        <th>Payment Type</th>
                    </tr>
                </thead>
                {% for trans in transaction_list %}
                    <tr>
                        <td>{{ trans.purchase_date }}</td>
                        <td>{{ trans.amount }}</td>
                        <td>{{ trans.category }}</td>
                        <td>{{ trans.store }}</td>
                        <td>{{ trans.payment_method }}</td>
                    </tr>
                {% endfor %}
            </table>


        {% else %}
            <p>There are no transactions!</p>

        {% endif %}
    </div>

    <div class="col-md-5 col-md-offset-1">
        {% if not category %}
            <div>
                {% for cat, nums in categories.items %}
                    {{ cat }} Budget: <strong> {{ nums.budg_amt }} </strong>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ nums.perc }}%;"
                             aria-valuenow="{{ nums.perc }}" aria-valuemin="0" aria-valuemax="100">
                            {{nums.spent}}</div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div>
            <h2>Pie chart</h2>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>


{% endblock %}

{% block after_javascript %}

    <script type="text/javascript">
        {% if category %}
            var category = "{{category}}";
        {% else %}
            var category = null;
        {% endif %}

        {% if filter_graph_set %}
            let filterGraphSet = {};
            {% for item in filter_graph_set %}
                filterGraphSet["{{ item.store__name|safe }}"] = {{ item.amount__sum }};
            {% endfor %}
        {% else %}
            var filterGraphSet = null;
        {% endif %}

        {% if categories %}
            let categories = {};
            {% for cat, nums in categories.items %}
                categories["{{ cat|safe }}"] = {{ nums.spent }};
            {% endfor %}
        {% else %}
            var categories = null;
        {% endif %}

        {% if background %}
            let background = [];
            {% for color in background %}
                background.push('{{color}}');
            {% endfor %}
        {% else %}
            var background = null;
        {% endif %}

        {% if border %}
            let border = [];
            {% for border_color in border %}
                border.push('{{border_color}}');
            {% endfor %}
        {% else %}
            var border = null;
        {% endif %}
    </script>

    <script src="{% static 'js/pie-chart.js' %}"></script>
    <script src="{% static 'js/month-year-picker.js' %}"></script>

    <style>
        .ui-datepicker-calendar {
            display: none;
        }
    </style>
{% endblock after_javascript %}

