{% load staticfiles %}

<html>
    <head>
        <title>Budgeting Software</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/budget.css' %}">
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'previous-month-spending' %}" class="top-menu">
                <span class="glyphicon glyphicon-calendar"></span> Previous Monthly Spending
            </a>
            <a href="{% url 'current-month-spending' %}" class="top-menu">
                <span class="glyphicon glyphicon-calendar"></span> Current Monthly Spending
            </a>
            <a href="{% url 'three-previous-months-spending' %}" class="top-menu">
                <span class="glyphicon glyphicon-calendar"></span> Past 3 Months Spending
            </a>
            <h1><a href="/">Budgeting Software</a></h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    {% block javascript %}

    {% endblock javascript %}

    {% block after_javascript %}{% endblock after_javascript %}

    </body>
</html>